# generated
node_modules
out
dist
build
coverage
*.tgz
.cache
*.tsbuildinfo
.tanstack
.wrangler
.eslintcache

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# env
.dev.vars*
!.dev.vars.example
.env*
!.env.example

wrangler.json

# IDE
.DS_Store
