@import './theme.css';
@import './markdown.css';

:root {
  --header-h: 3.375rem;
  --footer-h: 10rem;
  --lnb-w: 18.75rem;
}

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;

  --spacing-header: var(--header-h);
  --spacing-footer: var(--footer-h);
  --spacing-lnb: var(--lnb-w);

  --spacing-safe-offset-top: calc(max(20vh, 2.5rem));
  --spacing-safe-offset: calc(
    env(safe-area-inset-top) + --theme(--spacing) * 1
  );
  --spacing-safe-offset-2: calc(
    env(safe-area-inset-top) + --theme(--spacing) * 2
  );
  --spacing-safe-offset-3: calc(
    env(safe-area-inset-top) + --theme(--spacing) * 3
  );
  --spacing-safe-offset-5: calc(
    env(safe-area-inset-top) + --theme(--spacing) * 5
  );
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;

  @media (width >= --theme(--breakpoint-md)) {
    max-width: 768px;
  }
}

html {
  /* Prevent overscroll bounce on iOS */
  overscroll-behavior: none;
}
